<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Interactive comments section</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="component col-11">
                    <div class="component__comment-box">
                        <div class="component__comment-box__tittle">
                            <img src="./images/avatars/image-amyrobson.png" alt="avatar" class="component__comment-box__tittle__img img-fluid">
                            <p class="component__comment-box__tittle__author">amyrobson</p>
                            <p class="component__comment-box__tittle__time">1 month ago</p>
                        </div>
                        <p class="component__comment-box__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum obcaecati consequuntur iusto laborum sint quod quo corrupti laudantium quia. Amet consectetur adipisicing elit</p>
                        <div class="component__comment-box__elements">
                            <div class="component__comment-box__elements__rating">
                                <img src="./images/icon-plus.svg" alt="plus-icon" class="component__comment-box__elements__rating__img img-fluid">
                                <p class="component__comment-box__elements__rating__number">5</p>
                                <img src="./images/icon-minus.svg" alt="minus-icon" class="component__comment-box__elements__rating__img img-fluid">
                            </div>
                            <div class="component__comment-box__elements__reply">
                                <img src="./images/icon-reply.svg" alt="reply-icon" class="component__comment-box__elements__reply__img">
                                <p class="component__comment-box__elements__reply__text">Reply</p>
                            </div>
                        </div>
                    </div>
                    <div class="component__comment-box">
                        <div class="component__comment-box__tittle">
                            <img src="./images/avatars/image-amyrobson.png" alt="avatar" class="component__comment-box__tittle__img img-fluid">
                            <p class="component__comment-box__tittle__author">amyrobson</p>
                            <p class="component__comment-box__tittle__time">1 month ago</p>
                        </div>
                        <p class="component__comment-box__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum obcaecati consequuntur iusto laborum sint quod quo corrupti laudantium quia. Amet consectetur adipisicing elit</p>
                        <div class="component__comment-box__elements">
                            <div class="component__comment-box__elements__rating">
                                <img src="./images/icon-plus.svg" alt="plus-icon" class="component__comment-box__elements__rating__img img-fluid">
                                <p class="component__comment-box__elements__rating__number">5</p>
                                <img src="./images/icon-minus.svg" alt="minus-icon" class="component__comment-box__elements__rating__img img-fluid">
                            </div>
                            <div class="component__comment-box__elements__reply">
                                <img src="./images/icon-reply.svg" alt="reply-icon" class="component__comment-box__elements__reply__img">
                                <p class="component__comment-box__elements__reply__text">Reply</p>
                            </div>
                        </div>
                    </div>
                    <div class="component__comment-box component__comment-box--reply">
                        <div class="component__comment-box__tittle">
                            <img src="./images/avatars/image-amyrobson.png" alt="avatar" class="component__comment-box__tittle__img img-fluid">
                            <p class="component__comment-box__tittle__author">amyrobson</p>
                            <p class="component__comment-box__tittle__time">1 month ago</p>
                        </div>
                        <p class="component__comment-box__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum obcaecati consequuntur iusto laborum sint quod quo corrupti laudantium quia. Amet consectetur adipisicing elit</p>
                        <div class="component__comment-box__elements">
                            <div class="component__comment-box__elements__rating">
                                <img src="./images/icon-plus.svg" alt="plus-icon" class="component__comment-box__elements__rating__img img-fluid">
                                <p class="component__comment-box__elements__rating__number">5</p>
                                <img src="./images/icon-minus.svg" alt="minus-icon" class="component__comment-box__elements__rating__img img-fluid">
                            </div>
                            <div class="component__comment-box__elements__reply">
                                <img src="./images/icon-reply.svg" alt="reply-icon" class="component__comment-box__elements__reply__img">
                                <p class="component__comment-box__elements__reply__text">Reply</p>
                            </div>
                        </div>
                    </div>
                    <div class="component__comment-box component__comment-box--reply">
                        <div class="component__comment-box__tittle">
                            <img src="./images/avatars/image-amyrobson.png" alt="avatar" class="component__comment-box__tittle__img img-fluid">
                            <p class="component__comment-box__tittle__author">amyrobson</p>
                            <p class="component__comment-box__tittle__time">1 month ago</p>
                        </div>
                        <p class="component__comment-box__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum obcaecati consequuntur iusto laborum sint quod quo corrupti laudantium quia. Amet consectetur adipisicing elit</p>
                        <div class="component__comment-box__elements">
                            <div class="component__comment-box__elements__rating">
                                <img src="./images/icon-plus.svg" alt="plus-icon" class="component__comment-box__elements__rating__img img-fluid">
                                <p class="component__comment-box__elements__rating__number">5</p>
                                <img src="./images/icon-minus.svg" alt="minus-icon" class="component__comment-box__elements__rating__img img-fluid">
                            </div>
                            <div class="component__comment-box__elements__reply">
                                <img src="./images/icon-reply.svg" alt="reply-icon" class="component__comment-box__elements__reply__img">
                                <p class="component__comment-box__elements__reply__text">Reply</p>
                            </div>
                        </div>
                    </div>
                    <div class="component__comment-box component__comment-box--add">
                        <textarea placeholder="Add a comment..." class="component__comment-box--add__input"></textarea>
                       <div class="component__comment-box--add__elements">
                           <img src="./images/avatars/image-amyrobson.png" alt="avatar" class="component__comment-box--add__elements__img">
                           <button class="component__comment-box--add__elements__btn">Send</button>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>