<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Interactive comments section</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="component col-11">
                    <div class="component__comment-box" id = "first-comment">
                        <div class="component__comment-box__tittle">
                            <img src="" alt="avatar" class="component__comment-box__tittle__img img-fluid">
                            <p class="component__comment-box__tittle__author"></p>
                            <p class="component__comment-box__tittle__time"></p>
                        </div>
                        <p class="component__comment-box__content"></p>
                        <div class="component__comment-box__elements">
                            <div class="component__comment-box__elements__rating">
                                <img src="./images/icon-plus.svg" alt="plus-icon" class="component__comment-box__elements__rating__img--plus img-fluid" id="first-plus">
                                <p class="component__comment-box__elements__rating__number" id="first-score"></p>
                                <img src="./images/icon-minus.svg" alt="minus-icon" class="component__comment-box__elements__rating__img--minus img-fluid" id="first-minus">
                            </div>
                            <div class="component__comment-box__elements__reply" id = 'first-reply-btn'>
                                <img src="./images/icon-reply.svg" alt="reply-icon" class="component__comment-box__elements__reply__img">
                                <p class="component__comment-box__elements__reply__text">Reply</p>
                            </div>
                        </div>
                    </div>
                    <div class="component__comment-box" id = 'second-comment'>
                        <div class="component__comment-box__tittle">
                            <img src="" alt="avatar" class="component__comment-box__tittle__img img-fluid">
                            <p class="component__comment-box__tittle__author"></p>
                            <p class="component__comment-box__tittle__time"></p>
                        </div>
                        <p class="component__comment-box__content"></p>
                        <div class="component__comment-box__elements">
                            <div class="component__comment-box__elements__rating">
                                <img src="./images/icon-plus.svg" alt="plus-icon" class="component__comment-box__elements__rating__img--plus img-fluid" id="second-plus">
                                <p class="component__comment-box__elements__rating__number" id="second-score"></p>
                                <img src="./images/icon-minus.svg" alt="minus-icon" class="component__comment-box__elements__rating__img--minus img-fluid" id="second-minus">
                            </div>
                            <div class="component__comment-box__elements__reply" id ="second-reply-btn">
                                <img src="./images/icon-reply.svg" alt="reply-icon" class="component__comment-box__elements__reply__img">
                                <p class="component__comment-box__elements__reply__text">Reply</p>
                            </div>
                        </div>
                    </div>
                    <div class="component__comment-box component__comment-box--reply ms-3" id="first-reply">
                        <div class="component__comment-box__tittle">
                            <img src="" alt="avatar" class="component__comment-box__tittle__img img-fluid">
                            <p class="component__comment-box__tittle__author"></p>
                            <p class="component__comment-box__tittle__time"></p>
                        </div>
                        <p class="component__comment-box__content"></p>
                        <div class="component__comment-box__elements">
                            <div class="component__comment-box__elements__rating">
                                <img src="./images/icon-plus.svg" alt="plus-icon" class="component__comment-box__elements__rating__img--plus img-fluid" id="reply-plus">
                                <p class="component__comment-box__elements__rating__number" id="reply-score"></p>
                                <img src="./images/icon-minus.svg" alt="minus-icon" class="component__comment-box__elements__rating__img--minus img-fluid" id="reply-minus">
                            </div>
                            <div class="component__comment-box__elements__reply" id = "third-reply-btn">
                                <img src="./images/icon-reply.svg" alt="reply-icon" class="component__comment-box__elements__reply__img">
                                <p class="component__comment-box__elements__reply__text">Reply</p>
                            </div>
                        </div>
                    </div>
                    <div class="component__comment-box component__comment-box--reply component__comment-box component__comment-box--reply--you ms-3" id = 'second-reply'>
                        <div class="component__comment-box__tittle">
                            <img src="" alt="avatar" class="component__comment-box__tittle__img img-fluid">
                            <p class="component__comment-box__tittle__author"></p>
                            <p class="component__comment-box__tittle__you ms-2">you</p>
                            <p class="component__comment-box__tittle__time"></p>
                        </div>
                        <p class="component__comment-box__content"></p>
                        <div class="component__comment-box__elements">
                            <div class="component__comment-box__elements__rating">
                                <img src="./images/icon-plus.svg" alt="plus-icon" class="component__comment-box__elements__rating__img--plus img-fluid">
                                <p class="component__comment-box__elements__rating__number"></p>
                                <img src="./images/icon-minus.svg" alt="minus-icon" class="component__comment-box__elements__rating__img--minus img-fluid">
                            </div>
                            <div class="component__comment-box__elements__reply">
                                <img src="./images/icon-delete.svg" alt="delete-icon" class="component__comment-box__elements__reply__img component__comment-box__elements__reply__img--other">
                                <p class="component__comment-box__elements__reply__text component__comment-box__elements__reply__text--delete me-3">Delete</p>
                                <img src="./images/icon-edit.svg" alt="reply-icon" class="component__comment-box__elements__reply__img component__comment-box__elements__reply__img--other">
                                <p class="component__comment-box__elements__reply__text component__comment-box__elements__reply__text--edit">Edit</p>
                            </div>
                        </div>
                    </div>
                    <div class="component__comment-box component__comment-box--add">
                        <textarea placeholder="Add a comment..." class="component__comment-box--add__input"></textarea>
                       <div class="component__comment-box--add__elements">
                           <img src="" alt="avatar" class="component__comment-box--add__elements__img">
                           <button class="component__comment-box--add__elements__btn">Send</button>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>